<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<div class="container">
  Server running on port <%= port %>
</div>

<div class="container">
  Latest build: <%= build %>
</div>


</body>
</html>
